#profile, 
#username a, 
#about a {
  background: #fffafa;
  color: #000000 !important;
}

#profile {
  align-items: center;
}

#profile div {
  border-radius: 90px;
}

#about span i {
  font-size: 22px;
  transition: ease-in-out .5s;
}

#userbio {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.socials span:first-of-type {
  margin-left: 2vw !important;
}

.socials > i:hover {
  color: #CCC;
  transition: ease-in-out 1s;
}

#profile:hover {
  background: #fff 200px 200px;
}
